@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700&display=swap');

.root {
    height: 100vh;
    background-color: #E5E5E5;
}

* {
    font-family: 'Lexend Deca', sans-serif;
}